<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Mangement Website</title>
    <meta name="description" content="A website about the mangement of information about cities. Compare, add, remove, update and check the weather for multiple cities">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="topbar">
        <nav class="tabs">
            <a class="tab" href="/">
                <img class="tab-icon" src="/images/home.png" alt="" aria-hidden="true">
                Home
            </a>

            <a class="tab" href="/weather">
                <img class="tab-icon" src="/images/weather.png" alt="" aria-hidden="true">
                Weather
            </a>

            <a class="tab" href="/charts">
                <img class="tab-icon" src="/images/graph.png" alt="" aria-hidden="true">
                Compare
            </a>
        </nav>
    </header>
    
    <main>
        <header>
            <h1 class="title">City Information Application</h1>
            <h3>
                View all cities and use the edit/delete icons to 
                update or remove entries, or press “+” to add a new 
                city. <br> Use the tabs above to check the weather or compare 
                two cities side by side.
            </h3>
        </header>

        <div class="card-container"></div>

        <div id="update-form-container" class="form hidden">
            <div class="update-form-content">
                <form id="update-form">
                    <h2>Update City</h2>

                    <label for="weather">Weather</label>
                    <select id="weather" class="selector">
                        <option value="sunny" selected>Sunny</option>
                        <option value="snowy">Snowy</option>
                        <option value="cloudy">Cloudy</option>
                        <option value="rainy">Rainy</option>
                        <option value="windy">Windy</option>
                    </select>
                    
                    <label for="temp">Degrees</label>
                    <input type="text" id="temp" placeholder="Temperature">

                    <label for="pop">Population</label>
                    <input type="text" id="pop" placeholder="Population">

                    <label for="gdp">GDP</label>
                    <input type="text" id="gdp" placeholder="GDP">

                    <label for="desc">Description</label>
                    <input type="text" id="desc" placeholder="Description">

                    <div class="update-form-buttons">
                        <button type="submit">Save</button>
                        <button type="button" id="update-form-cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <button type="button" class="button-add">&#43;</button>

        <div id="add-form-container" class="form hidden">
            <div class="add-form-content">
                <form id="add-form" enctype="multipart/form-data">
                    <h2>Add a New City</h2>

                    <label for="add-title">City Name</label>
                    <input type="text" id="add-title" placeholder="City Name">

                    <label for="add-weather">Weather</label>
                    <select id="add-weather" class="selector">
                        <option value="sunny" selected>Sunny</option>
                        <option value="snowy">Snowy</option>
                        <option value="cloudy">Cloudy</option>
                        <option value="rainy">Rainy</option>
                        <option value="windy">Windy</option>
                    </select>
                    
                    <label for="add-temp">Degrees</label>
                    <input type="text" id="add-temp" placeholder="Temperature">
                    <label for="add-pop">Population</label>
                    <input type="text" id="add-pop" placeholder="Population">
                    <label for="add-gdp">GDP</label>
                    <input type="text" id="add-gdp" placeholder="GDP">
                    <label for="add-desc">Description</label>
                    <input type="text" id="add-desc" placeholder="Description">
                    <label for="add-img">File upload</label>
                    <input type="file" name='uploaded_file' id="add-img">

                    <div class="add-form-buttons">
                        <button type="submit">Submit</button>
                        <button type="button" id="add-form-cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="js/app.js"></script>
</body>
</html>
