<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Mangement Website</title>
    <meta name="description" content="A website about the mangement of information about cities. Compare, add, remove, update and check the weather for multiple cities">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
</head>

<body>
    <header class="topbar">
        <nav class="tabs">
            <a class="tab" href="/">
                <img class="tab-icon" src="/images/home.png" alt="" aria-hidden="true">
                Home
            </a>

            <a class="tab" href="/weather">
                <img class="tab-icon" src="/images/weather.png" alt="" aria-hidden="true">
                Weather
            </a>

            <a class="tab" href="/charts">
                <img class="tab-icon" src="/images/graph.png" alt="" aria-hidden="true">
                Compare
            </a>
        </nav>
    </header>
    
    <main>
        <header>
            <h1 class="title">City Information Application</h1>
            <p>Contains info about cities</p>
        </header>
        <div class="card-container"></div>
    </main>


</body>
</html>