<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="page">
    <header class="topbar">
        <nav class="tabs">
            <a class="tab" href="/">
                <img class="tab-icon" src="/images/home.png" alt="" aria-hidden="true">
                Home
            </a>

            <a class="tab" href="/weather">
                <img class="tab-icon" src="/images/weather.png" alt="" aria-hidden="true">
                Weather
            </a>

            <a class="tab" href="/charts">
                <img class="tab-icon" src="/images/graph.png" alt="" aria-hidden="true">
                Compare
            </a>
        </nav>
    </header>
    
    <main>
        <header>
            <h1 class="title">Weather</h1>  
            <h2>Select a City to See Their Current Weather and Temperature</h2>
             <select class="selector-weather" id="selector">
    
            </select>  
             <div class="weather-card-container"></div>
        </header>
    </main>
    <div id="particles-js"></div>
    <div id="cloud"></div>
    <div id="cloud-cloudy"></div>
    <div id="sun"></div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="js/appWeather.js"></script>
</body>
</html>