body{
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    color: rgb(0, 0, 0);
}

.title{
    font-size: 5rem;
    margin-bottom: 5px;
   
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3{
    text-decoration: underline;
    margin-left: 10px;
}

.card p{
    margin-left: 10px;
}

.card img{
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
}

.topbar {
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    padding: 14px 24px;
    box-shadow: 0 0 7px rgb(130, 130, 130);
}

.tabs {
    display: flex;
    gap: 45px;
    align-items: center;
}

.tab-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 12px;
    vertical-align: middle;
}

.tab {
    color: #282828;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    padding: 8px 10px;
    border-radius: 6px;
}

.tab:hover {
    background: #e0e0e0;
}

